{{ range $tls, $containers := groupBy $ "Env.TLS"}}
    {{ $last_cont := last $containers }}
domains = {{ range $container := $containers }}{{ $container.Env.VIRTUAL_HOST }}{{ if ne $container.Name $last_cont.Name }},{{ end }}{{ end }}
{{ end }}

fullchain-path = /crt
key-path = /crt

noninteractive = True
preferred-challenges = http-01
expand = True
renew-by-default = True
dry-run = False

rsa-key-size = 4096

email = karlyan.kamerer@gmail.com
agree-tos = True

authenticator = manual
manual-auth-hook = /certbot-auth.sh
manual-cleanup-hook = /certbot-clean.sh
manual-public-ip-logging-ok = True
deploy-hook = /certbot-renew.sh
